.body {
    /* common styles */
    font-family: 'Lato', sans-serif;

}
.btn{
    display: inline-block;
    background-color: #E55473;
    justify-content: center;
    border: none;
    border-radius: 5px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;}
.sectiontitle{ font-family: 'Lato', sans-serif;
    text-align: center;
    font-size:32px;}
.description{
    font-family: 'Lato', sans-serif;
    display: flex;
    margin:auto;
    text-align: center;
    width: 640px;
    padding-bottom:24px;
    font-size:16px;
        }
    /* hero section */
.herosection {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #E554731A;
    }
.contents{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 140px;
    margin-right: 140px;
}
.leftside{
    display: inline-block;
    padding-bottom: 24px;}
.slogan{
    font-family: 'Lato', sans-serif;
    font-weight:bold;
    font-size: 64px;}
.herodescription{
    font-family: 'Lato', sans-serif;
    display: flex;
    padding-right: 120px;
    padding-bottom:24px;
    font-size:16px;
        }
.rightside{
    display: flex;
}
.heroimg {
    display:flex;
    width: 500px;
    height: auto;
    margin-top: 120px;
        }
.featured{ 
    margin-top: 120px;
    }
.card{display: flex;
    justify-content: space-between;
    margin-top: 64px;
    margin-left: 140px;
    margin-right: 140px;}

.featuredimg1{display: flex;
    background-color: #A7216226;;
    width: 264px;
    height: 338px;
    border-radius: 50% 50% 0% 0%;
    padding-top: 120px;
    padding-left: 60px;
    padding-right: 60px;
    padding-bottom: 0px;
}
.featuredimg2{
    display: flex;
    background-color: #0597A026;
    width: 264px;
    height: 338px;
    border-radius: 50% 50% 0% 0%;
    padding-top: 120px;
    padding-left: 60px;
    padding-right: 60px;
    padding-bottom: 0px;}
.featuredimg2{
    display: flex;
    background-color: #477D1126;
    width: 264px;
    height: 338px;
    border-radius: 50% 50% 0% 0%;
    padding-top: 120px;
    padding-left: 60px;
    padding-right: 60px;
    padding-bottom: 0px;}
.button{
    display: flex;
    justify-content: center;
    margin-top: 64px;
   }
    /* Most Popular Section */
.mostpopular{
    margin-top:120px;}
    


