.body {
    /* common styles */
    font-family: 'Lato', sans-serif;

}
.btn{
    display: inline-block;
    background-color: #E55473;
    justify-content: center;
    border: none;
    border-radius: 5px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;}
.sectiontitle{ font-family: 'Lato', sans-serif;
    text-align: center;
    font-size:32px;}
.description{
    font-family: 'Lato', sans-serif;
    display: flex;
    margin:auto;
    text-align: center;
    width: 640px;
    padding-bottom:24px;
    font-size:16px;
        }
    /* hero section */
.herosection {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #E554731A;
    }
.contents{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 140px;
    margin-right: 140px;
}
.leftside{
    display: inline-block;
    padding-bottom: 24px;}
.slogan{
    font-family: 'Lato', sans-serif;
    font-weight:bold;
    font-size: 64px;}
.herodescription{
    font-family: 'Lato', sans-serif;
    display: flex;
    padding-right: 120px;
    padding-bottom:24px;
    font-size:16px;
        }
.rightside{
    display: flex;
}
.heroimg {
    display:flex;
    width: 500px;
    height: auto;
    margin-top: 120px;
        }
        /* Our Featured Flower */
.featured{ 
    margin-top: 120px;
    }
.card{display: flex;
    justify-content: center;
    gap: 24px;
    margin-top: 32px;
    margin-left: 140px;
    margin-right: 140px;}
.flower{display: inline;
    justify-content: space-between;}
.flowername{ display: flex;
    justify-content: center;
    margin-top: 24px;
    text-decoration: underline;
}
.featuredimg1{display: flex;
    background-color: #A7216226;;
    width: 264px;
    height: 338px;
    border-radius: 50% 50% 0% 0%;
    padding-top: 120px;
    padding-left: 60px;
    padding-right: 60px;
    padding-bottom: 0px;
}
.featuredimg2{
    display: flex;
    background-color: #0597A026;
    width: 264px;
    height: 338px;
    border-radius: 50% 50% 0% 0%;
    padding-top: 120px;
    padding-left: 60px;
    padding-right: 60px;
    padding-bottom: 0px;}
.featuredimg2{
    display: flex;
    background-color: #477D1126;
    width: 264px;
    height: 338px;
    border-radius: 50% 50% 0% 0%;
    padding-top: 120px;
    padding-left: 60px;
    padding-right: 60px;
    padding-bottom: 0px;}
.button{
    display: flex;
    justify-content: center;
    margin-top: 64px;
   }
    /* Most Popular Flower Section */
.mostpopular{
    margin-top:120px;}
.popularflower{
    display: flex;
    justify-content: center;
    gap:24px;
    margin-top: 32px;
    margin-left: 140px;
    margin-right: 140px;
    
}
.pf{width: 280px;}
/* services section */
.services{display: flex;
justify-content: space-between;
align-items: center;
margin-top: 120px;
margin-left: 140px;
margin-right: 140px;
background-color: #2727270D;
}

.deliveryimage{
    vertical-align: middle;
    justify-self: center;}
.delivery{
    margin-top: 80px;
    margin-left: 140px;
    margin-right: 140px;
    margin-bottom: 80px;
   
}

.servicedescription{ display: inline-block;
    font-family: 'Lato', sans-serif;

    text-align: center;
    padding-bottom:24px;
    font-size:16px;
        }
/* offer */
.offer{
    display: flex;
    margin-top: 140px;
    margin-left: 140px;
    margin-right: 140px;
    margin-bottom: 140px;
    justify-content: space-between;
    align-items: center;
    background-color: #E554731A;
}
.offerimg{
    display: flex;;
    margin-right: 140px;
    margin-top: 80px;
    margin-bottom: 80px;
}
.offerright{
    display: flex;  
    width:200px;
}
.offerleftside{
    margin-left: 140px;
}
.offerbutton{
    display: flex;
    justify-content: center;  
  }

/* latest deals */


    

.latestdeals{
    align-items: center;
    justify-content: center;
        background-image: url(./images/Rectangle\ 10.png );
        margin: auto;
        width: 80%;
        height: 350px;
        text-align: center;
       }
.dealtitle{justify-content: center;
    margin-top: 120px;}
.latestdescription{font-family: 'Lato', sans-serif;
    margin:auto;
    text-align: center;
    width: 640px;
    padding-bottom:24px;
    font-size:16px;}

.footer{ display: flex;
    justify-content: center;
    width: 100vw;
    height: 240px;
    margin-top: 120px;
    align-items: center;
    background-color: #111010;
    }
.footersectiontitle{ font-family: 'Lato', sans-serif;
    text-align: center;
    font-size:32px;
    color:white}
.flowerpink{color: #E55473;
align-items: center;
justify-content: center;}
.footerdescription{color: white;
    font-family: 'Lato', sans-serif;
    display: flex;
    margin:auto;
    text-align: center;
    width: 640px;
    padding-bottom:24px;
    font-size:16px;
        }
.copyright{
    opacity: 50%;
    font-family: 'Lato', sans-serif;
    justify-self: center;
    margin:auto;
    text-align: center;
    padding-bottom:24px;
    font-size:16px;
    color: white;
}
